<header class="page-header">
  <div class="container .header-container">
    <nav class="header-nav">
      <a class="logo-green-harvest" href="">Green.Harvest
         <img
              class="header-logo-image"
              src="./img/icons.svg#icon-mob-logo-name"
              alt="site logo"
            />
      </a>
      <ul class="page-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Reviews</a>
        </li>
      </ul>
      <button class="header-shop-btn" type="button">Shop now</button>
      </button>
    </nav>
    <button type="button" class="open-menu-btn">
      <svg width="32" height="32">
        <use href="./img/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu">
    <div class="mob-menu-top">
      <button type="button" class="menu-close-btn">
        <svg class="close-icon" width="8" height="8">
          <use href="./images/icons.svg#icon-close-black"></use>
        </svg>
      </button>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">How It Works</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Vegetables</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!-- <section class="hero">
  <div class="container hero-wrap">
    <p></p>
  </div>
</section> -->
