<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo-green-harvest" href="">
        <span class="header-logo"
          ><svg class="icon" width="18" height="18">
            <use href="./img/icons.svg#icon-desktop-tablet-logo"></use>
          </svg>
          <svg class="icon" width="168" height="18">
            <use
              href="./img/icons.svg#icon-desktop-tablet-logo-name"
            ></use></svg
        ></span>
      </a>
      <ul class="page-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <a class="header-shop-btn" href="#made">Shop now</a>
    <button type="button" class="open-menu-btn">
      <svg class="icon" width="32" height="32">
        <use href="./img/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu is-open">
    <div class="mob-menu-top">
      <button type="button" class="menu-close-btn">
        <svg class="close-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-mob-close-menu"></use>
        </svg>
      </button>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">How It Works</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Vegetables</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Reviews</a>
          </li>
        </ul>
      </nav>
      
    </div>
    <a class="mob-shop-btn" href="#made">Shop now</a>
  </div>
</header>

<!-- <section class="hero">
  <div class="container hero-wrap">
    <p></p>
  </div>
</section> -->
