<section class="veg-section">
  <div class="container">
    <p class="veg-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <h2 class="veg-title">organic <span>vegetables</span></h2>
    <ul class="veg-list">
      <li class="veg-item">
        <h3 class="veg-name">eggplant</h3>
        <p class="veg-price">60 UAH / kg</p>
        <img
          class="veg-img"
          alt="eggplant"
          srcset="
            ../img/vegetables/vegetables-eggplant-2x.png,
            ../img/vegetables/vegetables-eggplant.png    1x
          "
          src="../img/vegetables/vegetables-eggplant.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-name">leek</h3>
        <p class="veg-price">50 UAH / kg</p>
        <img
          class="veg-img"
          alt="leek"
          srcset="
            ../img/vegetables/vegetables-leek-2x.png 2x,
            ../img/vegetables/vegetables-leek.png    1x
          "
          src="../img/vegetables/vegetables-leek.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-name">mushrooms</h3>
        <p class="veg-price">40 UAH / kg</p>
        <img
          class="veg-img"
          alt="mushrooms"
          srcset="
            ../img/vegetables/vegetables-mushrooms-2x.png 2x,
            ../img/vegetables/vegetables-mushrooms.png    1x
          "
          src="../img/vegetables/vegetables-mushrooms.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-name">corn</h3>
        <p class="veg-price">60 UAH / kg</p>
        <img
          class="veg-img"
          alt="corn"
          srcset="
            ../img/vegetables/vegetables-corn-2x.png 2x,
            ../img/vegetables/vegetables-corn.png    1x
          "
          src="../img/vegetables/vegetables-corn.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-name">sweet potatoes</h3>
        <p class="veg-price">50 UAH / kg</p>
        <img
          class="veg-img"
          alt="potato"
          srcset="../img/vegetables/vegetables-potatoes-2x.png 2x,
        ../img/vegetables/vegetables-potatoes.png 1x/"
          src="../img/vegetables/vegetables-potatoes.png"
          width="282"
          height="243"
        />
      </li>
      <li class="veg-item">
        <h3 class="veg-name">carrot</h3>
        <p class="veg-price">40 UAH / kg</p>
        <img
          class="veg-img"
          alt="carrot"
          srcset="
            ../img/vegetables/vegetables-carrot-2x.png 2x,
            ../img/vegetables/vegetables-carrot.png    1x
          "
          src="../img/vegetables/vegetables-carrot.png"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
